/*-------------------- FONT IMPORT --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*-------------------- ALL --------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #393d3f;
}

/*-------------------- NAV --------------------*/
.nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 75px;
    background-color: #62929e;
    box-shadow: 0 3px 10px #777777;
}    

.nav h2 {
    color: #fdfdff;
    text-align: center;
    transform: translateY(20px);
    text-shadow: 0 1px 2px #222222;
}

/*-------------------- CONTENT --------------------*/

.content{
    position: absolute;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: whitesmoke;
    overflow: auto;
    z-index: -1;
    display: block;
    width: 100%;
    overflow-x: hidden;
}

.content ul{
    text-align: center;
}
.content #list .item {
    list-style-type: none;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    box-shadow: 0 1px 20px gainsboro;
    position: relative;
    vertical-align: middle;
    max-width: 400px;
}

.content #list .item .left {
    float: left;
    width: 60%;
}

.content #list .item .left .itemName {
    font-size: 1.3em;
    margin: 20px 0px 20px 0px;
}

.content #list .item .right {
    float: right;
    width: 35%;
    display: inline;
}

.content #list .item .right #value {
    font-size: 4em;
    vertical-align: middle;
}

.fa {
    -webkit-filter: drop-shadow(0px 1px 1px #999999);
    filter: drop-shadow(0px 1px 1px #999999);
    transition: .2s;
}

.fa:hover{
    transform: scale(120%);
    transition: .2s;
}

.fa:visited{
    transform: scale(80%) opacity(50%);
}

#plus, #minus {
    color: #62929e;
    vertical-align: middle;
}

.item i.de{
    position: relative;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 75px;
    background-color: white;
    box-shadow: 0 3px 10px #777777;
    text-align: center;
    padding: 10px;
}

.footer .fa {
    color: #62929e;
}

.footer #input {
    padding: 10px;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 2px solid #999999;
    transition: width .3s ease-in-out;
}

.footer #input:focus {
    width: 70%;
}





/* ------------ add item ------------ */
.add-items{
    position: relative;
    width: 360px;
    height:40px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.add-items i{
    position: absolute;
    font-size: 40px;
    color: #4162f6;
}

.add-items input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
}
.add-items input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.add-items input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.add-items input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.add-items input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}




























